<div class="container">

<div class="row justify-space-between-md">
    <div class="login-card">
      <h4 class="page-title">Create Your New Event</h2>
      <form action="#">
       <div class="small card">
            
            <div>
                <label for="event_name">Event Name: </label>
                <input type="text" id="event_name"/>
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="description"/>
            </div>
            <div>
                <label for="event_date">Event Date:</label>
                <input type="text" id="event_date"/>
            </div>
            <div>
                <label for="event_loc">Location:</label>
                <input type="text" id="event_loc"/>
            </div>
            <div>
                <label for="event_type">Event Type:</label>
                <input type="text" id="event_type"/>
            </div>
            <div>
                <label for="event_owner">Hosted by:</label>
                <input type="text" id="event_owner"/>
            </div>

       </div>

</div>