<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Events</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  
  <body>
    <div class="">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          RSVP for your event! &#127881;&#127881;
        </h1>
      </header>
        <main class="container container-fluid mt-5">
       {{{ body }}}
        </main>
    </div>
    <script type="text/javascript" src="./public/js/materialize.min.js"></script>
    </body>
  
  </html>