<body>
    <div class="section"></div>
<!-- Only include the logout script if the user is logged in -->
    <div class ="row">
        <div class="col s8"></div>
    {{#if logged-in}}
        <button class="large btn waves-effect waves-light indigo lighten-2" type="submit" name="action">Log Out
          <i class="large material-icons right">flight_takeoff</i>
        </button>
    {{{ body }}}
    {{/if}}
    <!-- Only include the logout script if the user is logged in -->
    {{#if logged-in}}
        <script src="/js/logout.js"></script>
    {{/if}}

        </div>
    </div>
</body>