<div class='col s12 m8 offset-m2 l6 offset-l3'>
  <div class='card-panel grey lighten-5 z-depth-1'>
    <div class='row valign-wrapper'>
      <div class='col s2'>
        <img src='photos/birthday.png' alt='' class='responsive-img' />
      </div>
      <div class='col s10'>
        <h1>Amanda Nelson</h1>
        <p class='black-text'>
          Amanda was an absolute ASSET, she kept the team motivated, talking and
          working! She also took on the newest thing we had learned, handlebars!<br
          />
          We all struggled together to figure out those handlebars (Shout out to
          Eli Montoya and Kevin Long for providing the training wheels!)
        </p>
        <ul>
          <li><a href='' class='waves-effect waves-light btn'><i
                class='material-icons right'
              >computer</i>GitHub Repo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='col s12 m8 offset-m2 l6 offset-l3'>
  <div class='card-panel grey lighten-5 z-depth-1'>
    <div class='row valign-wrapper'>
      <div class='col s2'>
        <img src='photos/birthday.png' alt='' class='responsive-img' />
      </div>
      <div class='col s10'>
        <h1>Fox Stokes</h1>
        <p class='black-text'>
          Fox was a rock star during this project and created all our routes and
          controller for the project!
          <br />
          Seriously, without Fox we totally would've been lost and had no code
          but no way to render anything!
        </p>
        <ul>
          <li><a href='' class='waves-effect waves-light btn'><i
                class='material-icons right'
              >computer</i>GitHub Repo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='col s12 m8 offset-m2 l6 offset-l3'>
  <div class='card-panel grey lighten-5 z-depth-1'>
    <div class='row valign-wrapper'>
      <div class='col s2'>
        <img src='photos/birthday.png' alt='' class='responsive-img' />
      </div>
      <div class='col s10'>
        <h1>Venus Rodin</h1>
        <p class='black-text'>
          Without Venus we wouldn't have any package.json file, no prettier, no
          README or presentation to share!
          <br />
          Venus played a huge part in getting us prepared and keeping us
          motivated.
        </p>
        <ul>
          <li><a href='' class='waves-effect waves-light btn'><i
                class='material-icons right'
              >computer</i>GitHub Repo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='col s12 m8 offset-m2 l6 offset-l3'>
  <div class='card-panel grey lighten-5 z-depth-1'>
    <div class='row valign-wrapper'>
      <div class='col s2'>
        <img
          src='photos/leslie.jpg'
          alt='Tabby cat in plaid sweater'
          class='responsive-img'
        />
      </div>
      <div class='col s10'>
        <h1>Leslie Garcia</h1>
        <p class='black-text'>
          Leslie helped in developing the models, seeds and javascript for
          functionality of the website and buttons throughout.<br />
          The original idea was hers after taking some inspiration from the
          suggestions the rest of the team was giving.
        </p>
        <ul>
          <li><a href='' class='waves-effect waves-light btn'><i
                class='material-icons right'
              >computer</i>GitHub Repo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>