<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- hero image
    <style>
        header {
            background: url(public/balloons.jpg);
            background-size: cover;
            background-position: center;
            min-height: 1000px;
        }
        @media screen and (max-width 670px){
            header {
                min-height: 500px;
            }
        }
    </style> -->
  </head>
  
<body>
    <header>
        <nav class="nav-wrapper transparent">
            <div class="container">
                <a href="" class="brand-logo">Party Animal</a>
            </div>
        </nav>
    </header>
<div class="container">


 <div class="section"></div>

  <div class="hero-image">
    <div class="hero-text">
      <h2>Easily plan your next event.</h1>
      <h5>Let your guests effortlessly RSVP.</p>
      <!-- <p>Party Animal (TM)</p> -->
    </div>
  </div>
  <!-- materialize padding -->
  <div class="section"></div>
  <!-- materialize padding -->
<div class="row justify-space-between-md">
    <div class="login-card">
      <h4 class="page-title">Keep Partying</h2>
      <form action="#">
        <fieldset>
            
            <legend>Log In</legend>
            <div>
                <label for="email">Email: </label>
                <input type="text" id="email"/>
            </div>
            <div>
                <label for="pwd">Password </label>
                <input type="password" id="pwd"/>
          </div>
        </fieldset>
        <!-- materialize padding -->
        <div class="section"></div>
        <!-- materialize padding -->
        <button class="large btn waves-effect waves-light indigo lighten-2" type="submit" name="action">Log In
            <i class="large material-icons right">gesture</i>
        </button>

      </form>
    </div>
    <div class="row">
        <!-- materialize padding -->
    <div class="login-card">
      <h4 class="page-title">Get Partying</h2>
      <form class="form signup-form">
        
        <fieldset>
            <legend>Sign Up</legend>
            <div>
                <label for="username">Username: </label>
                <input type="text" id="username"/>
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="text" id="signup-email"/>
            </div>
            <div>
                <label for="pwd">Password </label>
                <input type="password" id="signup-pwd"/>
          </div>
        </fieldset>
    
        <!-- materialize padding -->
        <div class="section"></div>
        <!-- materialize padding -->
        <button class="large btn waves-effect waves-light indigo lighten-2" type="submit" name="action">Sign Up
            <i class="large material-icons right">mood</i>
        </button>
      </form>
    
    </div>
  </div>

</div>
</body>
  
  <!-- which script goes here? -->
  <script src="./js/login.js"></script> 
  