 <div class="container">

    <div class="row">
      <div class="col-auto">
          <h2>Welcome, {{username}}!</h2>
      </div>
    </div>
    {{#if events.length}}
        <header class="display-flex justify-space-between align-center p-2">
        <h1>
            Your events: 
        </h1>
        </header>
        {{#each events as |event|}}
            {{> event-details}}
        {{/each}}
        {{!-- if the guest has no events then show this p element--}}
    {{else}}
        <p class="empty">You have no events to RSVP to!</p>
        
    {{/if}}

    
    </div>

