 <div class="container">

    <div class="row">
      <div class="col-auto">
          <h2>Welcome, {{username}}!</h2>
      </div>
    </div>

    {{#if event.length}}
        <header class="display-flex justify-space-between align-center p-2">
        <h1>
            Your events: 
        </h1>
        </header>
        {{#each event as |event|}}
            {{> event-details}}
        {{/each}}

        {{#else}}
        {{!-- if the guest has no events then show this p element--}}
        <p class="emtpy">You have no events to RSVP to!</p>
        {{/else}}
    {{/if}}

  {{#if guest.length}}

        {{#each guest as |event_id|}}
        {{> event-details}}
        {{/each}}
        
        {{#else}}
            {{!-- if no events are RSVP'd show this p element --}}
        <p class="empty">You have not RSVP'd to any events!</p>
        {{/else}}

    {{/if}}

    </div>

    <script src='./models/event.js'></script>

